<p>You can access HFJ2 and HFJ3 with your UCSB credentials: </p>

<ul>
  <li>First, log in here: <a href="https://bit.ly/ucsb-or">https://bit.ly/ucsb-or</a>
    <ul>
      <li>Specify UC Santa Barbara</li>
      <li>Login with your UCSB Credentials</li>
    </ul>
  </li>
  <li>Then, once you are logged in, use these links:
    <ul>
      <li><a href="https://bit.ly/or-hfj2">https://bit.ly/or-hfj2</a> for HFJ2 </li>
      <li><a href="https://bit.ly/or-hfj3">https://bit.ly/or-hfj3</a> for HFJ3 </li>
    </ul>
  </li>
</ul>
